name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Create 404.html for SPA routing
        run: cp dist/index.html dist/404.html
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-assets
          path: ./dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-assets
          path: dist

      - name: Manual Deploy to External Repo
        run: |
          cd dist
          echo "www.casadacuncheira.com" > CNAME
          touch .nojekyll
          git init
          git checkout -b main
          git config user.name "futesat"
          git config user.email "futesat@users.noreply.github.com"
          git add .
          git commit -m "Deploy to production"
          git push -f https://x-access-token:${{ secrets.DEPLOY_TOKEN }}@github.com/casadacuncheira/casadacuncheira.github.io.git main
